{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["wildcard"],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-optional-chaining",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        [
            "babel-plugin-root-import",
            {
                "paths": [
                    {
                        "rootPathSuffix": "./config",
                        "rootPathPrefix": "@config/"
                    },
                    {
                        "rootPathSuffix": "./assets",
                        "rootPathPrefix": "@assets/"
                    },
                    {
                        "rootPathSuffix": "./src/common",
                        "rootPathPrefix": "@common/"
                    },
                    {
                        "rootPathSuffix": "./src/models",
                        "rootPathPrefix": "@models/"
                    },
                    {
                        "rootPathSuffix": "./src/controllers",
                        "rootPathPrefix": "@controllers/"
                    },
                    {
                        "rootPathSuffix": "./src/lib",
                        "rootPathPrefix": "@lib/"
                    },
                    {
                        "rootPathSuffix": "./src/services",
                        "rootPathPrefix": "@services/"
                    },
                    {
                        "rootPathSuffix": "./src/vo",
                        "rootPathPrefix": "@vo/"
                    }
                ]
            }
        ]
    ]
  }