{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["wildcard"],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-optional-chaining",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        [
            "babel-plugin-root-import",
            {
                "paths": [
                    {
                        "rootPathSuffix": "./config",
                        "rootPathPrefix": "@config/"
                    },
                    
                    {
                        "rootPathSuffix": "./src/runner",
                        "rootPathPrefix": "@runner/"
                    },
                    {
                        "rootPathSuffix": "./src/runner/services",
                        "rootPathPrefix": "@services/"
                    },
                    {
                        "rootPathSuffix": "./src/runner/vo",
                        "rootPathPrefix": "@vo/"
                    },

                    
                    {
                        "rootPathSuffix": "./src/OrientDB",
                        "rootPathPrefix": "@orientdb/"
                    },
                    {
                        "rootPathSuffix": "./src/OrientDB/models",
                        "rootPathPrefix": "@models/"
                    },

                    
                    {
                        "rootPathSuffix": "./src/NaverCloud",
                        "rootPathPrefix": "@ncloud/"
                    },

                    
                    {
                        "rootPathSuffix": "./src/AWS",
                        "rootPathPrefix": "@AWS/"
                    },
                    {
                        "rootPathSuffix": "./src/CDN",
                        "rootPathPrefix": "@CDN/"
                    }

                ]
            }
        ]
    ]
  }